@import url('https://fonts.googleapis.com/css?family=Michroma&display=swap');


body{
    font-family:Michroma, serif ;
    background: linear-gradient(90deg, #2503cf 0%, #020202 100%);
}
p{
color: aquamarine;
}
    

.nav-link{
    color: aquamarine;
}

.navbar-nav .nav-link.active{
    color: rgb(77, 78, 78);
}
.navbar-brand img{
    width: 40px;
}
.navbar-toggler{
    background-color:rgb(107, 107, 107); ;
}
.sidebar{
    color: aquamarine;
    background: linear-gradient(270deg, #2b00ff 0%, #050505 100%);
    
}
.card{
    color: aquamarine;
    background: linear-gradient(270deg, #2b00ff 0%, #050505 100%); 
}
.card a {
    text-decoration: 0;
    color: aquamarine;
}
.slide-text,.footer-text 
 {
    color: aquamarine;
    margin: auto auto;
}

footer,.btn-outline-primary{
    background: linear-gradient(270deg, #2b00ff 0%, #050505 100%); 

}
.media-links{
    display: flex;
    justify-content: center;
    align-items: center;
}
.call-anim{
    animation: call 2s ease 0s infinite normal forwards;
}
@keyframes call {
	0%,
	50%,
	100% {
		opacity: 1;
	}

	25%,
	75% {
		opacity: 0;
	}
}

@media(max-width: 755px){
   .carousel-indicators{
    display: none;
   }

}

